@import './reset.css';
@import './variables.css';

.stat-card {
  display: flex;
  flex-direction: column;

  padding: 1.5rem;
  padding-bottom: 0 ;
  padding-top: 80%;
  margin: 1rem;

  overflow: hidden;

  border-radius: .5rem;

  background-image: url('/images/image-header-mobile.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;

  background-color: var(--dark-desaturated-blue);
  color: var(--white);

  font-family: var(--intern);
  text-align: center;
}

.stat-card__title {
  margin-bottom: 1rem;

  font-size: 2rem;
  font-weight: 700;
}

.stat-card__title--highlight {
  color: var(--soft-violet);
}

.stat-card__description {
  margin-bottom: 2rem;
  /* padding: 0 1rem; */

  color: var(--slightly-transparent-white);

  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
}

.stat-card__stat-container {
  margin-bottom: 1.5rem;
  color: var(--white);
}

.stat-card__stat-container__amount {
  color: var(--white);

  font-size: 1.75rem;
}

.stat-card__stat-container__what {
  color: var(--slightly-transparent-white);
  
  font-size: .75rem;
  font-family: var(--lexend-deca);

  line-height: 200%;

  letter-spacing: .0625rem;
  text-transform: uppercase;
}